.projectContainer {
    font-family: 'familjen grotesk';
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-size: 7%;
}
@media screen and (width<769px) {
    .projectContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.projectWrapper{
    opacity: 0;
    width: 100%;
    transition: opacity 500ms;
    background: #87ceeb;
    background-color: #87ceeb;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #87ceeb 20%, #87ceeb 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #87ceeb 20%, #87ceeb 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#fff 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #fff 0.8px, #87ceeb 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
    padding-block: 5rem;
}
@media screen and (width<950px) {
    .projectWrapper{
        padding-block: 2rem;
    }
}