.moreInfoConainer{
    width: 100%;
    height: fit-content;
    background-color: #ffbf1f;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #ffbf1f 20%, #ffbf1f 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffbf1f 20%, #ffbf1f 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#fff 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #fff 0.8px, #ffbf1f 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.moreInfoConainer .personalInfoContainer{
    font-family: 'familjen grotesk';
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background: transparent;
    font-weight: 100;
}


.textArea{
    text-indent: 5rem;
    max-width: 45vw;
    font-size: 1.5rem;
    border: 4px solid black;
    padding: 2rem;
    box-shadow: 4px 6px 0px wheat;
}
.experienceContainer{
    background-color: #97e1fe;
    display: flex;
    /* height: fit-content; */
    justify-content: space-between;
    align-items: center;
}
.cardContainer{
    margin: 1rem;
    width: 20vw;
    /* min-height: 24vw; */
    background-color: whitesmoke;
    border: 4px solid black;
    box-shadow: 4px 6px 0px gray;
}
.cardContainer .title{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 8px;
}
.leftContainer{
    display: flex;
    gap: 1.25rem;
    /* background-color: #feda7c; */
    width: 100vw;
    overflow: hidden;
    /* height: 100vh; */
    padding: 2rem;
}
.verticalFlex{
    width: 100vw;
    margin-inline: auto;
}
/* .leftContainer{
    display: flex;
    flex-wrap: wrap;   
} */
.verticalFlex{
    width: 70vw;
    min-width: 65vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 25px;
    justify-items: center;
    position: relative;
}   
.pink, .star, .blue{
    position: absolute;
}
.pink, .star{
    animation: moveUp;
    animation-timeline: scroll(root);
}
.pink{
    left: -9%;
    top: 10%;
}
.star{
    right: -8%;
    bottom: 30%;
    filter: drop-shadow(4px 6px 0px black);
    transform: rotateZ(45deg);
    /* filter: blur(2px); */
}
.blue{
    bottom: -60%;
    left: -20%;
    scale: 1.5;
    filter: blur(2px) brightness(0.8);
    animation: rapidMoveup;
    animation-timeline: scroll(root);

}
@keyframes moveUp{
    to{
        transform: translate3d(10%, -300%, 0);
    }
}
@keyframes rapidMoveup{
    to{
        transform: translate3d(10%, -400%, 0);
    }
}
.imgSpace{
    max-width: 25vw;
    border: 4px solid black;
    box-shadow: 4px 6px 0px black;
    /* background: url(../../../public/assets/svgs/personal.svg);
    background-position: center; */
    overflow: hidden;
    background: url(../../../public/assets/images/colors.jpg);
    width: 22vw;
    animation: bgMove 550s linear infinite forwards;
}
.imgSpace img{
    width: 100%;
    height: auto;
    scale: 3;
    object-fit: cover;

}
/* const colorPalette = 
    '#69d2e7', '#7fbc8c', '#ff6b6b', '#ff69b4', 'c4a1ff', '#e3dff2', '#ffff00', '#a388ee','#7df9ff', '#ff4911'
] */
.moreInfoCardContainer{
    padding: 15px;
    background-color: #ffff7f;
    border-radius: 15px;
    border: 4px solid black;
    box-shadow: 4px 6px 0px black;
}
.moreInfoCardContainer:nth-child(2){
    background-color: #a2e3f0;
}
.moreInfoCardContainer:nth-child(3){
    background-color: #ff7474;
}
.moreInfoCardContainer:nth-child(4){
    background-color: #ff8bc5;
}

.moreInfoHeading{
    font-size: 2.5vw;
    font-weight: 900;
}
.moreInfoDesc{
    padding: 15px;
    font-size: 1.5vw;
    border: 4px solid black;
    border-radius: inherit;
}
.rightContainer{
    border-left: 4px solid black;
    height: 100%;
    min-width: 20vw;
    max-width: 30vw;
    display: flex;
    align-items: center;
}
.rightContainer div, .s2rightContainer div{
    height: 65%;
    border: 4px solid;
    margin: 0 auto;
}
.rightContainer img{
    object-fit: cover;
    max-width: 100%;
}
.experienceContainer>.s2leftContainer{
    border-left: 4px solid black;
}
.s2leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 12px;
    padding: 10px;
}
.s2LeftCardContainer{
    display: flex;
    /* width: fit-content; */
    max-width: 100%;
    background-color: white;
    border: 4px solid black;
    transition: all 500ms;
    gap: 4vw;
    padding: 15px;
    box-shadow: 4px 6px 0px black;
    height: 35vh;
    min-width: 15rem;
    transition: all 500ms;
}
.cardLeft{
    position: relative;
}
.cardLeftHeading{
    font-size: 2rem;
    font-weight: 900;
}
.cardLeftDuration{
    font-size: 14px;
    color: gray;
}
.cursor{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px;
    background-color: black;
    box-shadow: 4px 6px gray;
    cursor: pointer;
}
.cursor img{
    vertical-align: middle;
    filter: invert();
    transition: all 250ms;
}
.cardRight{
    max-height: 100%;
    overflow-y: auto;
    /* visibility: hidden; */
    /* display: none; */
}
.cardRightName{
    font-size: 1.5rem;
    font-weight: 900;
}
.resp li{
    list-style-type: disc;
    list-style-position: inside;
}
.xpInfoContainer{
    font-family: 'familjen grotesk';
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 70vw;
    padding: 0.5rem 2rem;
    margin-block-end: 2rem;
    border-radius: 15px;
    border: 4px solid black;
    box-shadow: 4px 6px 0px black;
    background: black;
    color: white;
}
.sectionHeading{
    text-align: center;
    width: 100%;
    font-size: 1.85rem;
    font-weight: 700;
}
.xpInfoContainer ul{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.xpInfoContainer li{
    list-style-type: none;
    display: flex;
    margin-block-end: 2rem;
}
.xpInfoContainer img{
    margin-inline-end: 1rem;
    width: 50px;
    height: 50px;
    /* aspect-ratio: 1; */
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid black;
    /* box-shadow: 4px 6px 0px black; */
}
.xpDesc div:nth-child(1){
    font-size: 1.5rem;
    font-weight: 700;
}
.xpDesc div:nth-child(2){
    color: gray;
    font-size: 14px;
}
.xpDesc div:last-child{
    font-size: 13px;
    color: gray;
    opacity: 0.95;
}
@keyframes bgMove {
    0%{
        background-position: left top;
    }rightContainer
    25%{
        background-position: center center;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: bottom center;
    }
}
@media screen and (width<850px) {
    .moreInfoDesc{
        font-size: 2.5vw;
    }
    .leftContainer{
        width: 100vw;
    }
    .verticalFlex{
        width: 100%;
    }
    .moreInfoHeading{
        font-size: 4vw;
        padding-bottom: 8px;
    }
    .imgSpace{display: none;}
}
@media screen and (width<580px) {
    .leftContainer{
        height:fit-content;
    }
    .verticalFlex{
       grid-template-columns: 1fr;
    }
    .moreInfoHeading{
        font-size:2rem;
    }
    .moreInfoDesc{
        font-size: 16px;
        font-weight: 800;
    }
    .s2leftContainer{
        width: 100%;
    }
    .s2LeftCardContainer{
        width: 100%;
        flex-direction: column; 
        height: fit-content;
    }
    .cardLeft{
        min-width: 100%;
    }
    .cardRight{
        height: 75vh;
    }
    .cursor{
        right: 0;
    }
    .pink{
        left: -25%;
    }
    .blue{
        left: -25%;
    }
    .star{
        right: -20%;
    }
}