.headingWrapper{
    max-width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'familjen grotesk';
    overflow:hidden;
    z-index:200;
    transition: filter 500ms linear;
    text-transform: uppercase;
}
.headingWrapper img{
    vertical-align: middle;
    padding-inline: 1rem;
}
.scrollWrapper{
    width: max-content;
    flex-wrap: nowrap;
    animation: scrollRight linear;
    animation-timeline: scroll(root);
}
@keyframes scrollRight {
    to{transform: translateX(-25%);}
}
@media screen and (width<490px) {
    @keyframes scrollRight {
        to{transform: translateX(-45%)}
    }
}