.contactContainer{
    display: flex;
    max-width: 100vw;
}
@media screen and (width<769px) {
    .contactContainer{
        flex-direction: column;
        height: fit-content;
        gap: 15px;
    }
}