.followContainer{
    font-family: 'familjen grotesk';
    width: 95%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 1rem;
    opacity: 0;
    padding-block: 2rem;
}
.followContainer li{
    position: relative;
    list-style-type: none;
    font-size: 3rem;
    border: 4px solid black;
    padding: 1rem;
    box-shadow: 4px 6px 0px black;
    border-radius: 15px;
    transition: translate 250ms, box-shadow 250ms;
}
.followContainer span{
    display: block;
    width: 55px;
    height: 55px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    border: 4px solid white;
    box-shadow: 4px 6px 0px white;
    transition: transform 250ms;
}
.followContainer .arrow{
    filter: invert();
    transition: transform 250ms;
}
.followContainer li:hover{
    translate: 4px 6px;
    box-shadow: 0px 0px 0px black;
}
.followContainer li:first-child span{
    filter: invert()
}
.followContainer li:hover .arrow{
    transform: rotateZ(-45deg);
}
.followContainer li:hover span{
    transform: scale(0.95);
}
.followContainer li:first-child{
    grid-column: 1/span 3;
    aspect-ratio: 16/4;
    background-color: #126bc4;
    color: white;
}
.followContainer li:nth-child(2){
    background-color: black;
    grid-row: span 2;
    color: white;
}
.followContainer li:nth-child(3){
    grid-column: 1/span 2;
    background-color: black;
    color: white;
}
.followContainer li:last-child{
    background-color: #212429;
    color: white;
    /* grid-column: 3/-1; */
}
@media screen and (width<960px) {
    .followContainer li, .followContainer li:first-child{
        aspect-ratio: 16/7;
    }
    .followContainer li:first-child, .followContainer li:nth-child(2){
        grid-row: span 1;
        grid-column: span 2;
    }
    .followContainer li:last-child{
        grid-column: span 2;
    }
}
@media screen and (width<665px) {
    .followContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}