footer{
    font-family: 'familjen grotesk';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    opacity: 1;
    background-image: radial-gradient(#ffffff8f 0.45px, #000 0.45px);
    background-size: 9px 9px;
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
}
footer span{
    display: inline-block;
    padding: 0.25rem;
    text-align: center;
}
.rights{
    display: inline-block;
    font-size: 1rem;
}
@media screen and (width<500px) {
    footer{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    footer span{
        text-align: center;
    }
    .rights{
        text-align: center;
        margin-inline: auto;
    }
    .second{
        text-align: center!important;
    }
}