footer{
    font-family: 'familjen grotesk';
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 1rem;
}
@media screen and (width<500px) {
    footer{
        flex-direction: column;
        text-align: center;
    }
}