:root{
    --ANIMATION-SPEED: 500ms;
}
/* .blogWrapper{
    font-family: 'familjen grotesk';
    max-width: 95%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-flow: dense;
    gap: 15px;
    opacity: 0;
    transition: opacity 500ms;
    padding-block: 3rem;
}
.blogWrapper .blogImages{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: scale var(--ANIMATION-SPEED), translate var(--ANIMATION-SPEED);
}
.blogWrapper figure{
    overflow: hidden;
    border: 4px solid black;
    position: relative;
    box-shadow: 4px 6px 0px black;
    border-radius: 15px;
    filter: saturate(1);
}
.blogWrapper figcaption{
    position: absolute;
    font-size: 1.35rem;
    font-weight: 900;
    inset: 0;
    padding: 0.5rem;
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    transition: opacity var(--ANIMATION-SPEED), transform var(--ANIMATION-SPEED);
}
figure:hover .blogImages{
    scale: 1.05;
    translate: 0 -100%;
}
.blogWrapper figure:hover figcaption{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    background-color: rgb(230, 230, 230);
    filter: none;
}
figcaption a{
    display: block;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color: black;
    right: 0;
    margin-inline-end: 0.5rem;
    margin-block-end: 0.5rem;
    cursor: pointer;
    box-shadow: 4px 6px 0px gray;
    transition: transform calc(var(--ANIMATION-SPEED)/2), box-shadow calc(var(--ANIMATION-SPEED)/2);
}
figcaption a:active, figcaption a:focus{
    box-shadow: 0px 0px 0px gray;
    transform: translate(4px, 6px)
}
.toggleArrow{
    filter: invert();
    vertical-align: middle;
    transform: rotateZ(20deg);
    transition: transform calc(var(--ANIMATION-SPEED)*2);
}
figure:hover .toggleArrow{
    transform: rotateZ(-45deg);
}
@media screen and (width>=1350px) {
    .blogWrapper figure:nth-child(1){
        grid-column: 1/4;
    }
    .blogWrapper figure:nth-child(2){
        grid-column: 4/span 2;
    }
    .blogWrapper figure:nth-child(3){
        grid-column: 1/span 4;
    }
    .blogWrapper figure:nth-child(4){
        grid-column: 8/-1;
    }
    .blogWrapper figure:nth-child(5){
        grid-column: 6/span 2;
    }
    .blogWrapper figure:nth-child(6){
        grid-column: 5/-1;
    }
}
@media screen and (width<1350px){
    .blogWrapper{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-flow: unset;
    }
}
@media screen and (width<580px) {
    .blogWrapper figure{
        box-shadow: 0px 0px 0px transparent;
    }
} */
.blogContainer{
    /* padding: 3rem; */
    margin-block-start: 2rem;
    font-family: 'familjen grotesk';
    max-width: 95%;
    margin-inline: auto;
    display: grid;
    gap: 15px;
    padding-block: 3rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
}
.blogWrapper{
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: white;
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 15px;
    box-shadow: 4px 6px 0 black;
}

.blogWrapper img{
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    /* border: solid; */
}
.title{
    font-size: 1.25rem;
    font-weight: 900;
    padding: 1rem 5px;
    text-decoration: none;
    color: black;
}
.title:hover, .title:focus{
    text-decoration: underline;
    color: rgb(76, 76, 76);
}
.title:active{
    color: black;
}
.blogInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.interactions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-block-end: 0.25rem;
    height: 5rem;
    gap: 1rem;
}
.interactions *{
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 18px;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.23);
    border-radius: 10px;
    color: rgb(54, 54, 54);
    font-weight: 900;
}
.redirect{
    display: grid;
    place-items: center;
    position: absolute;
    width: 4rem;
    aspect-ratio: 1;
    border: solid;
    right: -10px;
    top: -5px;
    background: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}
.redirect a{
    text-decoration: none;
    color: black;
}
.redirect img{
    width: 20px;
    transform: rotate(-45deg);
}
@keyframes infiniteRotate {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}